@model demo.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<h1>Añadir una cita</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre de la Cita</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripcion / Motivo de la Cita</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechacita" class="control-label">Fecha de la Cita</label>
                <input asp-for="Fechacita" class="form-control" />
                <span asp-validation-for="Fechacita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinatariosId" class="control-label">Destinatario Citado</label>
                <select asp-for="DestinatariosId" class ="form-control" asp-items="@ViewBag.Destinatarios"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir Cita" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Devuelta a la lista <i class="bi bi-house-fill"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
